* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.not-support {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #6F3089;
  z-index: 10;
}

.not-support p {
  color: #E0EAFC;
}

.w-h {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.6rem;
  color: #E0EAFC;
  background-color: #6F3089;
  border: 2px solid #E0EAFC;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}