/* Mobile */
/* 320x568 (min) */
/* 414x896 (max) */
@media screen and (max-height: 490px) {
    .not-support {
        display: flex;
    }
}

@media screen and (max-width: 319px) {
    .not-support {
        display: flex;
    }
}

@media screen and (min-width: 319px) {
    * {
        font-size: 14px;
    }
    .home .bg-2, .home .bg-3 {
        display: none;
    }

    .home .content-left {
        padding-left: 1rem;
    }

    .home .content-left h1 {
        font-size: 2.6rem;
        max-width: 100px;
    }

    .home .link a {
        font-size: 1rem;
        padding: 0.8rem;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 414px) {
    * {
        font-size: 18px;
    }
}

/* Tablet */
/* 601x962 (min) */
/* 1280x800 (max) */
@media screen and (min-width: 640px) {
    * {
        font-size: 20px;
    }

    .home .bg-2 {
        display: flex;
    }
}

@media screen and (min-width: 960px) {
    .home .bg-3 {
        display: flex;
    }
}

@media screen and (min-width: 1280px) {
    * {
        font-size: 20px;
    }

    .home .content-left {
        padding-left: 2rem;
    }
}

/* Desktop */
/* 1280x720 (min) */
/* 1920x1080 (max) */
@media screen and (min-width: 1920px) {
    * {
        font-size: 28px;
    }
}